.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mod_mymediabug.la
mod_mymediabug_la-mod_mymediabug.lo
mod_mymediabug_la-mod_mymediabug.o
